<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input type="text" value=pokemon.name class="form-control" placeholder="Name"}}
  </div>

  <div class="form-group">
    <label for="information">Information</label>
    {{textarea class="form-control" value=pokemon.information  placeholder="Pokedex Information"}}
  </div>

  <div class="form-group">
    <label for="image_url">Image</label>
    {{input type="url" value=pokemon.imageUrl class="form-control" placeholder="Image URI"}}
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default" {{action "capture" pokemon}}>Capture</button>
  </div>
</form>
