{{#if item.name}}
  <div class="row" {{action 'showPokemon' item.id}}>
    <div class="col-md-4 poke-logo">
      <img src="{{if item.imageUrl item.imageUrl "/images/default.png"}}" alt="default" />
    </div>
    <div class="col-md-8 poke-desc">
      <h4>{{item.name}}</h4>
      <p>
      <strong>CP:</strong> {{item.combatPower}}
      </p>
    </div>
  </div>
{{/if}}
